h1 {
    color: darkcyan;
}
h2 {
    color: #00DFAD;
}
h3 {
    color: #1CA;
}
h4 {
    color: #ADFA12F0;
}
h5 {
    color: #FC5D;
}
h6 {
    color: rgb(120, 205, 225);
}
p {
    color: rgb(175, 206, 144, 0.6);
}